.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.style-btn{
    
  
  border: darkblue;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);

  color: white;
}
.navbar.bg-primary {
  background-color: grey;
  padding: 5px;
  margin: 5vh;
  box-shadow: black;
  text-shadow: black;
  border-radius: 5vh;
  cursor: alias;
  flex-grow: unset;
}

.linksnavbar{
  text-size-adjust: 40%;
  color: #61dafb;
  flex-direction: row;
}

.form {

  margin: 50px;
  padding: 45px;
  border: #61dafb;
  


}

i {
  color: aqua;
  cursor: col-resize;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
